# Learn more https://docs.github.com/en/get-started/getting-started-with-git/ignoring-files

# dependencies
node_modules/

# Expo & Web
.expo/
dist/
web-build/
expo-env.d.ts

# Native & Keystores
.kotlin/
*.orig.*
*.jks
*.p8
*.p12
*.key
*.pem
*.mobileprovision
credentials.json
credentials/
google-services.json
android/app/google-services.json
inminut-admin-key.json

# Metro & debug
.metro-health-check*
npm-debug.*
yarn-debug.*
yarn-error.*
.DS_Store

# Local env files
.env*.local
.env
.env.*
!.env.example

# Typescript & examples
*.tsbuildinfo
app-example

# Generated native folders
/ios
/android

!google-services.json